body{
    background-color: #FFF9C4;
}
.container{
    margin-top: 3rem;
    text-align: center;
}
img{
    margin: 1.5rem;
}
p{
    font-size: 1.5rem;
    color: #0097A7;
}
.lead{
    color: white;
}