body {
    background-color: #FFF9C4;
}
.container{
    text-align: center;
}
.row{
    text-align: center;
}
p{
    font-size: 2rem;
    color: #0097A7;
}
h5{
    font-size: 0.1rem;
    color: #0097A7;
}
.lead{
    color: white;
}
